
// Fonts
// @import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

body {
  font-family: Raleway, sans-serif;
}

#content {
  padding-top: 70px;
  margin-bottom: 70px;
}

.navbar-brand img {
  height: 100%;
}